<div class="backdrop"></div>
<nav class="nav">
  <div>
    <ul>
      <li><a href="#" class="app-name">Notter</a></li>
      <li><a href="/categories">Home</a></li>
    </ul>
    <ul>
      <% if(!user) { %>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
      <% } else { %>
      <li><a href="/auth/logout">Logout</a></li>
      <% } %>
      <li id="hamburger"><i class="fas fa-bars"></i></li>
    </ul>
  </div>
</nav>

<nav class="hamburger-nav">
  <ul>
    <li><a href="/categories">Home</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>

<script src="/javascripts/navbar.js"></script>
