<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/categories.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <%- include("../partials/navbar") %>
    <div class="categories">
      <% categories.forEach(category => { %>
      <div class="category">
        <a href="/categories/<%= category.id %>/notes"
          ><%= category.name.length > 20 ? category.name.substring(0, 20) +
          "..." : category.name %></a
        >
        <form
          action="/categories/<%= category.id %>?_method=DELETE"
          method="post"
        >
          <button type="submit">Delete Category</button>
        </form>
      </div>
      <% }) %>
      <div class="category add-category">
        <i class="fas fa-plus" id="add-category"></i>
      </div>
    </div>
    <div class="backdrop"></div>
    <div class="add-category-form">
      <button id="close-form"><i class="far fa-times-circle"></i></button>
      <form action="/categories" method="POST" id="category-form">
        <input type="text" name="name" placeholder="New Category" required />
        <button type="submit">Add New Category</button>
      </form>
    </div>

    <script src="/javascripts/categories.js"></script>
  </body>
</html>
